[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "external/libarchive"]
	path = external/libarchive
	url = https://github.com/libarchive/libarchive.git